nav{
    font-family:'Courier New', Courier, monospace;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.945);
    height: 20%;
    margin-right: 5px;
    margin-bottom: 30px;
    border-style: solid;
    border-bottom-color: white;


}
.iContainer{
    padding: 0;
    margin: 0;
    width: 10%;

}
.imagen{
    background-color: white;
    width: 80%;
    height: 40%;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    
}
.links{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px;
    height: 40px;
    transition: 0.8s;

}

.container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
}



.links:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    transition: 0.5s;

}